{% extends "layout.html" %}
{% block main %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollToPlugin.min.js"></script>

    <main class="flex-1 overflow-hidden scrollbar-none flex items-center flex-col bg-linear-to-tr/hsl from-red-500 to-red-900">
        <div class="flex flex-col text-white ml-5 md:ml-20 relative">
            <div class="text-base text-slate-200 text-lg md:text-2xl lg:text-4xl font-semibold md:font-extrabold h-fit py-10 leading-relaxed tracking-wide">
                "More than
                <span class="inline-flex items-baseline align-center text-lg md:text-3xl lg:text-4xl">
                    <span id="scrollContainer" class="h-[1em] w-fit flex justify-start items-center flex-col gap-y-5 overflow-auto scrollbar-none scroll-smooth snap-y snap-mandatory">
                        <span class="text-white font-semibold snap-center flex items-center justify-center h-[1em]">0</span>
                        <span class="text-white font-semibold snap-center flex items-center justify-center h-[1em]">1</span>
                        <span id="scrollTarget" class="text-white font-semibold snap-center flex items-center justify-center h-[1em]">2</span>
                    </span>
                    <span class="text-white font-semibold snap-center flex items-center justify-center h-[1em]">0,000</span>
                </span>
                Americans die of radon-related lung cancer every year"
            </div>
            <div class="text-white snap-center flex items-center justify-center md:font-semibold lg:font-bold italic text-sm md:text-lg lg:text-2xl">- (U.S. Department of Health and Human Services [HHS], 2005)</div>
        </div>
    </main>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            gsap.registerPlugin(ScrollToPlugin) ;
            gsap.to("#scrollContainer", {
                scrollTo: { y: "#scrollTarget", autoKill: false }, 
                duration: 1.5,     
                ease: "power2.out", 
                delay: 0.5 
            });
        });
    </script>
{% endblock %}